
html {
    background: rgba(233,232,237,0.4);
}

* {
    box-sizing: border-box;
    font-family: Segoe UI;
}

.ribbon {
    background: rgba(81,74,255,0.81);
    margin: 0 auto;
    padding: 25px 0 8px 0;
    border-radius: 20px 20px 0 0;
}
#logo {
    margin: 0 auto;
    max-width: 400px;
    position: center;
    display: block;
}
h2 {
    font-family: Segoe UI;
    text-align: center;
    margin: 0 auto;
    background: rgba(81,74,255,0.81);
    color: white;
    padding: 0 0 10px 0;
}
form {
    padding: 30px;
    font-family: Segoe UI;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    height: 100%;
    padding: 0 0 40px 0;
}
.form-container {
    background: rgba(233,232,237,0.4);
}

label {
    width: 250px;
    padding: 10px;
    display: block;
    text-align: right;
    width: 100%;
}
input, select, textarea {
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin: 5px;
    display: block;
    width: 85%;
}
#cancel {
    color: red;
    border-radius: 5px;
    width: 140px;
    display: inline;
}
#submit {
    color: green;
    border-radius: 5px;
    width: 140px;
    display: inline;
}

#student-image {
    height: 200px;
    width: 180px;
    border-radius: 20px;
    margin: 0 auto;
}
#select-pic {
    display: none;

}

footer {
    background: rgba(81,74,255,1);
    margin: 0 auto;
    border-radius:0 0 10px 10px;
    position: fixed;
    bottom: 0;
    width: 99%;
    z-index: 1;
    height: 50px;
    text-align: center;
}

table {
    margin: 0 auto;
}

.ui-datepicker {
    text-align: center;
    background: gray;
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: Segoe UI;
    box-shadow: 0 0 10 0px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
    text-decoration: none;
}
.ui-datepicker table {
    width: 100%;
}
.ui.datepicker-header {
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, 2);
    box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, 2);
    text-shadow: 1px -1px 0 #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}
.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, ui-datepicker-next {
    display: inline-block;
    width: 30px:
    height: 30px;
    text-align: center;
    cursor: pointer;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(81,74,255,1);
}


@media (max-width: 500px) {
    #logo {
        max-width: 220px;
    }
    h2 {
        font-size: 15px;
    }
    label {
        font-size: 14px;
    }
    td {
        padding: 0;
        margin: 0 auto;
    }
    input, select, textarea {
        width: 90%;
        font-size: 16px;
        padding: 10px;
        margin: 5px;
    }
    footer {
        height: 30px;
        padding: 0;
    }
    #my-signature {
        margin: 5px auto;
        padding: 0;
        position: center;
    }
    #my-mail {
        margin: 5px auto;
        padding: 0;
        position: center;
    }

}

